* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1260px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.burger {
    display: none;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
}

.burger div:last-child {
    margin-bottom: 0;
}

.main-header {
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.main-header .main-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header .main-brand .main-brand__link {
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.main-header .main-navbar .main-navbar__link {
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    color: #000;
}

.main-header .main-navbar .main-navbar__link:last-child {
    margin-right: 0;
}

.main {
    padding: 100px 0;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.main .card-item {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
}

.main .card-header {
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}

.main .card-body img {
    width: 100%;
}

.main .card-footer {
    text-align: center;
    margin: 20px 0;
}


.main .card-footer .btn {
    text-decoration: none;
    color: #fff;
    padding: 13px 45px;
    background-color: blue;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .main-header .main-navbar {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .main .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .main .cards {
        grid-template-columns: 100%;
    }
}